.base {
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	border: none;
	font-size: 24px;
	font-family: "Raleway";
	margin: 0;
	cursor: pointer;
}

.guilty {
	flex-grow: 1;
	background-color: rgba(255, 0, 0, 0.4);
	composes: base;
}

.innocent {
	flex-grow: 1;
	background-color: rgba(0, 255, 0, 0.4);
	composes: base;
}

.skip {
	composes: base;
	flex-basis: content;
}

.outer {
	display: flex;
	border-top: grey solid 1px;
	min-height: 36px;
	flex-grow: 0 !important; /* sorry */
}