.default {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	max-height: 100vh;
	overflow: scroll;
}

.default > * {
	flex-grow: 1;
}

.confirm {
	composes: default;
	justify-content: center;
	align-items: center;
}

.confirm > * {
	flex-grow: 0;
}

.guilty {
	composes: confirm;
	background-color: rgba(255, 0, 0, 0.2);
}

.innocent {
	composes: confirm;
	background-color: rgba(0, 255, 0, 0.2);
}

.dupeState {
	margin: 5px;
	color: grey;
	font-variant: italic;
}